@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	color: white;
}

.custom-scrollbar::-webkit-scrollbar{
	width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb{
	background-color: hsl(220, 15%, 10%);
	width: 5px;
	border-radius: 9999px;
}
